#black {
  background-color: #000000
}

#blue {
  background-color: #0009FF
}

#yellow {
  background-color: #FFFF00
}

#green {
  background-color: #2BFF00
}

#red {
  background-color: #FF0000
}

#orange {
  background-color: #FF7C00
}

#pink {
  background-color: #FF37AC
}

#white {
  background-color: #FFFFFF
}
